<ion-header translucent>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/"></ion-back-button>
		</ion-buttons>
		<ion-title>{{ recordMode == null ? "Recording" : recordModes[recordMode][1] }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">

	<ion-list lines="full">
		<ion-list-header>
			<h4>Recording information</h4>
		</ion-list-header>
		<ion-item>
			<ion-label>Speaker</ion-label>
			<app-speaker-select (speakerChanged)="this.speaker = $event"></app-speaker-select>
		</ion-item>
		<ion-item>
			<ion-label>Recording langage</ion-label>
			<app-langage-select (langCodeChanged)="this.language = $event"></app-langage-select>
		</ion-item>
		<ion-item>
			<ion-label>Notes</ion-label>
			<ion-textarea [(ngModel)]="notes"></ion-textarea>
		</ion-item>
	</ion-list>

	<ion-button expand="block" (click)="onClickRecord()" [disabled]="this.speaker == null || this.language == null">Record</ion-button>

</ion-content>
