<ion-header translucent>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/recording-info/classic"></ion-back-button>
		</ion-buttons>
		<ion-title>Recording</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">

	<app-record-card [record]="record"></app-record-card>

	<div style="width: 90%; margin: 25px auto 0 auto;">

		<ion-button expand="block" (click)="onPauseOrResumeClick()" [style.height.px]="100">
			<ion-icon *ngIf="paused" name="square"></ion-icon>
			<ion-icon *ngIf="!paused" name="pause"></ion-icon>
		</ion-button>

		<h5 *ngIf="started" style="text-align: center;">{{ formatDuration(duration, 1) }}</h5>

		<ion-button expand="block" (click)="onSaveClick()" [disabled]="!this.started || !this.paused" style="margin-top: 25px;">Save</ion-button>

	</div>

</ion-content>
