<ion-header translucent>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button [defaultHref]="'/records'"></ion-back-button>
		</ion-buttons>
		<ion-title>Respeaking</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen>

	<div class="respeaking-content">

		<app-waveform-editor #waveform class="main-waveform"
							 [timeTicks]="true"
							 [timeLabels]="true"
							 (markerSelected)="onWaveformMarkerSelected($event)"></app-waveform-editor>

		<!-- Using display to allow always have the waveform-editor component loaded -->
		<div [style.display]="selectedMarker != null && this.selectedMarkerAlreadyRecorded ? '' : 'none'" class="already-recorded">

			<app-waveform-editor #previewWaveform
								 [style.height]="'100%'"
								 [style.width]="'100%'"
								 [timeTicks]="true"
								 [timeLabels]="true"
								 [moreControls]="[{icon: 'refresh', click: onResetClickCallback}]"></app-waveform-editor>

		</div>

		<div *ngIf="selectedMarker != null && !this.selectedMarkerAlreadyRecorded" class="not-already-recorded">

			<div class="actions">
				<ion-button expand="block" (click)="onPauseOrResumeClick()">
					<ion-icon *ngIf="paused" name="square"></ion-icon>
					<ion-icon *ngIf="!paused" name="pause"></ion-icon>
				</ion-button>
				<ion-button expand="block" [disabled]="!started || !paused" (click)="onSaveClick()">
					<ion-icon name="save"></ion-icon>
				</ion-button>
			</div>

			<div class="duration" *ngIf="started">{{ formatDuration(duration, 1) }}</div>

		</div>

		<div *ngIf="selectedMarker == null" class="already-recorded">
			<p class="instructions">Move the cursor to a marker.</p>
		</div>

	</div>

</ion-content>
