<ion-header translucent>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/"></ion-back-button>
		</ion-buttons>
		<ion-title>Recording</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">

	<ion-list lines="full">
		<ion-list-header>
			<h4>Recording information</h4>
		</ion-list-header>
		<ion-item>
			<ion-label>Speaker</ion-label>
			<app-speaker-select></app-speaker-select>
		</ion-item>
		<ion-item>
			<ion-label>Recording langage</ion-label>
			<app-langage-select></app-langage-select>
		</ion-item>
		<ion-item>
			<ion-label>Notes</ion-label>
			<ion-textarea></ion-textarea>
		</ion-item>
	</ion-list>

	<ion-button expand="full">Record</ion-button>

</ion-content>
