<ion-header translucent>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/recording"></ion-back-button>
		</ion-buttons>
		<ion-title>Recording</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">

	<ion-card *ngIf="record != null && record.speaker != null">
		<ion-card-header>
			<ion-card-title>{{ record.speaker.name }}</ion-card-title>
			<ion-card-subtitle>{{ speakerDetails }}</ion-card-subtitle>
		</ion-card-header>
		<ion-card-content>Recording in {{ recordingDetails }}</ion-card-content>
	</ion-card>

	<div style="width: 70%; margin: 25px auto 0 auto;">
		<ion-button expand="block" (click)="onPauseOrResumeClick()" [style.height.px]="100">
			<ion-icon *ngIf="paused" name="square"></ion-icon>
			<ion-icon *ngIf="!paused" name="pause"></ion-icon>
		</ion-button>
	</div>

	<h5 *ngIf="started" style="text-align: center;">{{ duration.toFixed(1) }}s</h5>

	<ion-button expand="block" (click)="onStopClick()" [disabled]="!this.started || !this.paused" style="margin-top: 25px;">Save</ion-button>

</ion-content>
