<ion-header translucent>
	<ion-toolbar>
		<!--<ion-buttons slot="start">
			<ion-back-button defaultHref="/"></ion-back-button>
		</ion-buttons>-->
		<ion-title>Recording</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">

	<ion-toolbar>
		<ion-button (click)="resume()">Resume</ion-button>
		<ion-button (click)="pause()">Pause</ion-button>
		<ion-button (click)="stop()">Stop</ion-button>
	</ion-toolbar>

	<ion-toolbar>
		<h3>Time: {{ time }}</h3>
	</ion-toolbar>

</ion-content>
