:host {
	display: block;
	height: 200px;
}



.waveform-editor-container {
	position: absolute;
	overflow-x: scroll;
	overflow-y: hidden;
	width: 100%;
	height: 100%;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: #ababab;
	border-width: 2px;
}

.waveform-editor-overlay-canvas {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

.waveform-editor-cursor {
	position: absolute;
	width: 2px;
	height: 100%;
	top: 0;
	transform: translate(-1px, 0);
}

.waveform-editor-cursor.live {
	background-color: #387ffe;
}

.waveform-editor-cursor.start {
	background-color: #ababab;
	// transition: left 0.2s;
}

.waveform-editor-cursor.marker {
	border-width: 1px;
	border-color: rgba(47, 224, 34, 0.6);
	border-style: none solid none solid;
	background-color: transparent;
	transition: background-color .2s;
}

.waveform-editor-cursor.marker.selected {
	background-color: rgba(47, 224, 34, 0.1);
}
