<div #container class="waveform-editor-container">

	<canvas #canvas></canvas>

	<canvas #overlayCanvas
			class="waveform-editor-overlay-canvas"
			(touchstart)="canvasTouchStart($event)"
			(touchmove)="canvasTouchMove($event)"
			(click)="canvasClick($event)"></canvas>

	<div class="waveform-editor-loading" [class.hidden]="!audioLoading">Loading waveform...</div>

</div>

<div class="waveform-editor-controls">

	<div class="control" (click)="play()"><ion-icon name="play"></ion-icon></div>
	<div class="control" (click)="pause()" *ngIf="isNotPaused()"><ion-icon name="pause"></ion-icon></div>
	<div class="control" (click)="stop()" *ngIf="isPlaying()"><ion-icon name="stop"></ion-icon></div>

	<div class="spacer" *ngIf="canEditMarkers"></div>
	<div class="control" (click)="onAddMarkerClick()" *ngIf="canEditMarkers && selectedMarkerIndex == null"><ion-icon name="bookmark"></ion-icon></div>
	<div class="control" (click)="onRemoveMarkerClick()" *ngIf="canEditMarkers && selectedMarkerIndex != null"><ion-icon name="bookmark-outline"></ion-icon></div>

</div>

<div class="waveform-editor-controls right">
	<div *ngFor="let control of moreControls" class="{{ control == null ? 'spacer' : 'control' }}" (click)="control.click($event)">
		<ion-icon *ngIf="control != null" name="{{ control.icon }}"></ion-icon>
	</div>
</div>
