<div #container class="waveform-editor-container">

	<canvas #canvas
			(touchstart)="canvasTouchStart($event)"
			(touchmove)="canvasTouchMove($event)"></canvas>

	<div class="waveform-editor-cursor"
		 *ngIf="isPlaying()"
		 [style.left.px]="cursorPosition"></div>

</div>

<div [style.position]="'absolute'"
	 [style.left.px]="0"
	 [style.top.px]="0">

	<ion-button (click)="play()">Start</ion-button>
	<ion-button (click)="pause()" *ngIf="isPlaying()">Pause</ion-button>
	<ion-button (click)="stop()">Stop</ion-button>

</div>
