:host {
	display: block;
	height: 200px;
}

.waveform-editor-container {
	position: absolute;
	overflow-x: scroll;
	overflow-y: hidden;
	width: 100%;
	height: 100%;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: #ababab;
	border-width: 2px;
}

.waveform-editor-overlay-canvas {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

.waveform-editor-loading {
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	color: #525252;
	font-size: 15px;
	text-align: center;
	pointer-events: none;
	opacity: 1;
	transition: opacity 0.5s;
}

.waveform-editor-loading.hidden {
	opacity: 0;
}
