<div #container class="waveform-editor-container">

	<canvas #canvas
			(touchstart)="canvasTouchStart($event)"
			(touchmove)="canvasTouchMove($event)"></canvas>

	<div class="waveform-editor-cursor marker"
		 *ngFor="let marker of markers"
		 [class.hover]="marker.hover"
		 [style.left.px]="marker.offset"
		 [style.width.px]="marker.width"></div>

	<div class="waveform-editor-cursor live"
		 *ngIf="isPlaying()"
		 [style.left.px]="cursorPosition"></div>

	<div class="waveform-editor-cursor start"
		 *ngIf="isLoaded()"
		 [style.left.px]="startCursorPosition"></div>

</div>

<div [style.position]="'absolute'"
	 [style.left.px]="0"
	 [style.top.px]="0">

	<ion-button (click)="play()">Start</ion-button>
	<ion-button (click)="pause()" *ngIf="isPlaying()">Pause</ion-button>
	<ion-button (click)="stop()" *ngIf="isPlaying()">Stop</ion-button>

</div>
