:host {
	display: block;
	height: 200px;
}

.waveform-editor-container {
	position: absolute;
	overflow-x: scroll;
	overflow-y: hidden;
	width: 100%;
	height: 100%;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: #ababab;
	border-width: 2px;
}

.waveform-editor-overlay-canvas {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

.waveform-editor-loading {
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	color: #525252;
	font-size: 15px;
	text-align: center;
	pointer-events: none;
	opacity: 1;
	transition: opacity 0.5s;
}

.waveform-editor-loading.hidden {
	opacity: 0;
}

.waveform-editor-controls {
	position: absolute;
	left: 0;
	top: 2px;
	z-index: 10;
	font-size: 0;
}

.waveform-editor-controls > .control {
	display: inline-block;
	font-size: 25px;
	line-height: 25px;
	padding: 10px 10px 6px 10px;
	background-color: transparent;
	color: #1a1a1a;
	transition: background-color .2s, color .2s;
}

.waveform-editor-controls > .control:active {
	background-color: #1a1a1a;
	color: #e3e3e3;
}

.waveform-editor-controls > .control:last-child {
	border-bottom-right-radius: 3px;
}
