<div #container [class.waveform-editor-container]>

	<canvas #canvas
			(touchstart)="canvasTouchStart($event)"
			(touchmove)="canvasTouchMove($event)"></canvas>

	<div [class.waveform-editor-cursor]
		 [style.left.px]="cursorPosition"
		 [style.display]="isPlaying() ? '' : 'none'"></div>

	<!-- [style.transition]="'left 0.2s'" -->

	<div [style.position]="'absolute'"
		 [style.left.px]="20"
		 [style.top.px]="0">

		<ion-button (click)="play()">Start</ion-button>
		<ion-button (click)="pause()">Pause</ion-button>
		<ion-button (click)="stop()">Stop</ion-button>

	</div>

</div>
