<ion-header translucent>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/"></ion-back-button>
		</ion-buttons>
		<ion-title>Records</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen>

	<ion-list>
		<ion-item button *ngFor="let record of records"
				  [color]="record[0].markersReady ? null : 'warning'"
				  [routerLink]="'/record/' + record[0].dirName" [detail]="true">
			<ion-label>
				<h2>{{ record[0].date.toLocaleString() }}<span *ngIf="record[0].duration != null">&nbsp;&bull;&nbsp;{{ formatDuration(record[0].duration) }}</span></h2>
				<h4>{{ record[0].speaker.name }}&nbsp;&bull;&nbsp;{{ (record[1] | async).printName }}<span *ngIf="!record[0].markersReady">&nbsp;&bull;&nbsp;markers missing</span></h4>
			</ion-label>
		</ion-item>
	</ion-list>

</ion-content>
