<ion-header translucent>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/records"></ion-back-button>
		</ion-buttons>
		<ion-title *ngIf="record != null">{{ record.date.toLocaleString() }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">

	<app-record-card [record]="record"></app-record-card>

	<app-waveform-editor #waveform
						 [style.margin]="'20px 0 0 0'"
						 [style.height.px]="80"
						 [style.width]="'100%'"
						 [timeLabels]="true"></app-waveform-editor>

	<div *ngIf="record != null">

		<app-records-list *ngIf="record.children.length !== 0" [records]="record.children" titleText="Derived records"></app-records-list>

		<app-records-list *ngIf="record.parent != null" [records]="[record.parent]" titleText="Parent record"></app-records-list>

		<ion-list>
			<ion-list-header>
				<h5>Actions</h5>
			</ion-list-header>
			<ion-item button [color]="record.markersReady ? null : 'warning'" [detail]="true" [routerLink]="'/mark/' + record.dirName">
				<ion-icon slot="start" ios="bookmarks-outline" md="bookmarks"></ion-icon>
				<ion-label>
					<h2>Marking ({{ record.markersReady ? (record.markers.length + " marker" + (record.markers.length > 1 ? "s" : "")) : "missing" }})</h2>
				</ion-label>
			</ion-item>
			<ion-item button [disabled]="!record.hasAnyMarker()" [detail]="true" [routerLink]="'/recording-info/respeaking/' + record.dirName">
				<ion-icon slot="start" ios="volume-high-outline" md="volume-high"></ion-icon>
				<ion-label>
					<h2>Respeaking<span *ngIf="!record.hasAnyMarker()"> (need markers)</span></h2>
				</ion-label>
			</ion-item>
			<ion-item button (click)="onDeleteClick()">
				<ion-icon slot="start" ios="close-outline" md="close"></ion-icon>
				<ion-label>
					<h2>Delete</h2>
				</ion-label>
			</ion-item>
		</ion-list>

	</div>

</ion-content>
