<ion-header translucent>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button [defaultHref]="record == null ? '/records' : '/record/' + record.dirName"></ion-back-button>
		</ion-buttons>
		<ion-title>Marking</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen>

	<app-waveform-editor #waveform
						 [style.height]="'100%'"
						 [style.width]="'100%'"
						 [timeTicks]="true"
						 [timeLabels]="true"
						 [markerEdit]="true"
						 [moreControls]="[{icon: 'save', click: saveCallback}]"></app-waveform-editor>

</ion-content>
