<div>

	<ion-header translucent>
		<ion-toolbar>
			<ion-title>{{ editingSpeakerUid != null ? "Edit" : "Add" }} a speaker</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-content fullscreen class="ion-padding">

		<ion-list lines="full">
			<ion-list-header>
				<h4>Identity</h4>
			</ion-list-header>
			<ion-item>
				<ion-label>Name *</ion-label>
				<ion-input type="text" placeholder="Ex: Jean" [(ngModel)]="name"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>Year of Birth</ion-label>
				<ion-input type="number" placeholder="Ex: 1990" [(ngModel)]="yearOfBirth"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>Gender</ion-label>
				<ion-select interface="popover" [(ngModel)]="gender">
					<ion-select-option *ngFor="let genderInList of getGenders()" [value]="genderInList[0]">{{ genderInList[1] }}</ion-select-option>
				</ion-select>
			</ion-item>
		</ion-list>

		<ion-list lines="full">
			<ion-list-header>
				<h4>Additional information</h4>
			</ion-list-header>
			<ion-item>
				<ion-label>Region of Origin</ion-label>
				<ion-input type="text" placeholder="Ex: Mexique" [(ngModel)]="regionOfOrigin"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>Notes</ion-label>
				<ion-textarea [(ngModel)]="notes"></ion-textarea>
			</ion-item>
		</ion-list>

		<ion-list lines="full">
			<ion-list-header>
				<h4>Spoken languages</h4>
			</ion-list-header>
			<ion-item>
				<ion-label>Native language</ion-label>
				<app-langage-select optional [langCode]="nativeLanguage" (langCodeChanged)="setNativeLanguage($event)"></app-langage-select>
			</ion-item>
			<ion-item *ngFor="let _ of otherLanguagesIdx; let index = index;">
				<ion-label>{{ otherLanguageOrdinals[index] || otherLanguageOrdinals["default"](index) }} language</ion-label>
				<app-langage-select optional [langCode]="otherLanguages[index]" (langCodeChanged)="setOtherLanguage(index, $event)"></app-langage-select>
			</ion-item>
		</ion-list>

		<ion-button expand="full" (click)="onClickSave()" [disabled]="name.length === 0">{{ editingSpeakerUid != null ? "Save" : "Add" }}</ion-button>

	</ion-content>

</div>
