<div>

	<ion-header [translucent]="true">
		<ion-toolbar>
			<ion-title>Select langage</ion-title>
		</ion-toolbar>
		<ion-toolbar>
			<ion-searchbar (ionInput)="doSearch($event)" [debounce]="1000"></ion-searchbar>
		</ion-toolbar>
	</ion-header>

	<ion-content [fullscreen]="true">

		<ion-list>
			<ion-item button *ngFor="let lang of langages" (click)="langageClicked(lang.code)">
				<label>
					<ion-label slot="start">{{ lang.code }}</ion-label>
					<ion-label>{{ lang.printName }}</ion-label>
				</label>
			</ion-item>
		</ion-list>

		<ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite()">
			<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading langages...">
			</ion-infinite-scroll-content>
		</ion-infinite-scroll>

	</ion-content>

</div>
