<!--<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Home</ion-title>
	</ion-toolbar>
</ion-header>-->

<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>LIG Aikuma</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

	<p>Veuillez sélectionner un mode ci-dessous.</p>

	<ion-list *ngFor="let group of buttons">
		<ion-list-header>
			<h5>{{ group.title }}</h5>
		</ion-list-header>
		<ion-item [button]="true" *ngFor="let child of group.children" [routerLink]="child.router == null ? null : child.router.link">
			<ion-icon slot="start" [ios]="child.icon + '-outline'" [md]="child.icon" size="large"></ion-icon>
			<ion-label>
				<h2>{{ child.title }}</h2>
			</ion-label>
		</ion-item>
	</ion-list>

	<!--<ion-button (click)="testModal()">Test modal</ion-button>-->

</ion-content>
